node_modules
serviceAccountKey.json
.env
backups/

american_pos.sqlite
.terraform/
dist_release/
product_images/
dist_final_installer/
build/
build_temp/
auto-backups/
.wwebjs_auth/
logs/
scratch/
*.bat
